@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

body {
  font-family: Nunito, sans-serif;
}

#page {
  overflow-x: hidden;
}

#page.toggled #sidebar {
  margin-left: -15rem;
}

#sidebar {
  min-height: 100vh;
  margin-left: 0;
  width: 15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar header {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content {
  min-width: 0;
  width: 100%;
}

#loginLogo img {
  width: 70%;
}

.progress-math{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-math::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}
.progress-one{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-one::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}
.progress-two{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-two::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}
.progress-three{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-three::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}
.progress-four{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-four::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-five{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-five::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-six{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-six::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-seven{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-seven::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-eight{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-eight::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-nine{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-nine::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-ten{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-ten::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-eleven{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-eleven::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-twelve{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-twelve::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-tirteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-tirteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-fourteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-fourteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-fifteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-fifteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-sixteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-sixteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-seventeen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-seventeen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-eighteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-eighteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-nineteen{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-nineteen::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}

.progress-twenty{
  height: 20px;
  padding: 2px;
  background-color: #ccc;
  display: flex;
}

.progress-twenty::before{
  content: "";
  width: calc(var(--progress) * 1%);
  background-color: hsl( calc(var(--progress) * 1.2) , 80%, 50%);
  transition: all 0.2s ease;
}